{% extends 'master.html' %}

{% block title %}
    Multiply
{% endblock %}

{% block content %}
    <h1>Multiplication Function</h1>
    <form action="{% url 'multiplication' %}" method="POST">
        {% csrf_token %}
        <input type="number" name="num1" value="0" required><br>
        <input type="number" name="num2" value="0" required><br>
        <button type="submit">Multiply</button>
    </form>
    <p>Multi = {{ x }}</p>
    <p><a href="{% url 'customfunctions' %}">Go Back</a></p>
{% endblock %}