{% extends 'master.html' %}

{% block title %}
    Output Site
{% endblock %}

{% block content %}
    <h1>Output's</h1>
    <table id="output_tb">
        <tr>
            <th>Name</th>
            <th>UUID</th>
            <th>State</th>
            <th>Args</th>
            <th>Result</th>
            <th>Started</th>
            <th>Details</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.uuid }}</td>
                <td>{{ task.state }}</td>
                <td>{{ task.args }}</td>
                <td>{{ task.result|safe }}</td>
                <td>{{ task.started }}</td>
                <td><a href="{% url 'task_details' task.uuid %}">Check Details</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7">No recent activities</td>
            </tr>
        {% endfor %}
    </table>
<ul style="display: none;">
    {% for id in task_list %}
        <li>{{ id }}</li>
    {% endfor %}
</ul>
<script>
    var taskIDs = [];
    for(var id of document.querySelectorAll("li"))
    {
        taskIDs.push(id.textContent)
    }

    function check_status(id)
    {
        const checkInterval = setInterval(() => {
            fetch(`/check_status/${id}/`)
            .then(response => response.json())
            .then(data => {
                if (data.status === 'SUCCESS') {
                    clearInterval(checkInterval);
                    sessionStorage.setItem('reloaded_'+id, 'true');
                    window.location.reload();
                }
            });
        }, 2000);
    }

    taskIDs.forEach(id => {
        if(id && !sessionStorage.getItem('reloaded_'+id)) check_status(id)
    })
</script>
{% endblock %}