*
{
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    padding: 0px;
    margin: 0px;
}
header
{
    width: 100%;
    text-align: center;
    float: left;
    font-size: larger;
    font-weight: bold;
    padding: 35px 0px 35px 0px;
}
header a
{
    color: black;
    margin-left: 15px;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    box-shadow: 3px 3px 0px 5px black;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s;
}
header a:hover
{
    padding: 8px 10px 12px 10px;
    transition: all 0.2s;
}
hr
{
    margin: 0px 0px 30px 0px;
}
main
{
    width: 100%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-position: inside;
}
main table
{
    margin-left: auto;
    margin-right: auto;
}
#output_tb
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
#output_tb td
{
    border: 1px solid black;
    padding: 6px;
}
#output_tb th
{
    border: 3px solid black;
    padding: 8px;
}
#pf_ad_trans
{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
#pf_ad_trans table
{
    text-align: left;
    width: 100%;
    line-height: 200%;
}
#pf_ad_trans li
{
    list-style-type: none;
}